@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Open Sans";
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.landscape-image {
  width: 40vw;
  background-image: url("brandon-jean-w79UXGGlvhQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.image-credits {
  margin-top: calc(100vh - 30px);
  font-size: 16px;
  text-align: center;
  color: white;
}

.image-credits a {
  color: white;
}

main {
  width: 60vw;
  display: flex;
  background-color: #f9fafb;
}
