* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.landscape-image {
  width: 750px;
  background-image: url("brandon-jean-w79UXGGlvhQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
